.marquee-wraper {
    background: linear-gradient(270deg, rgba(13, 35, 20, 0) 21.88%, rgba(13, 35, 20, 0) 21.88%, #0d2314 78.13%);
    backdrop-filter: blur(20px);
    padding: 16px 0px;

    .marquee {
        --gap: 40px;
        position: relative;
        display: flex;
        overflow: hidden;
        user-select: none;
        gap: var(--gap);

        > * {
            font-weight: 700;
            font-size: 20px;
            line-height: 24px;
            letter-spacing: 0.02em;
            text-transform: uppercase;
        }

        .marquee__content {
            display: flex;
            flex-shrink: 0;
            justify-content: space-around;
            gap: var(--gap);
            min-width: 100%;
            animation: scroll 15s linear infinite;

            span:not(.green_txt) {
                display: inline-block;
                width: 100%;
                display: flex;
                color: #fff;
                white-space: nowrap;
            }

            .marquee_icon {
                display: inline-block;
                width: 24px;
            }
        }
    }
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(calc(-100% - var(--gap)));
    }
}
